<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/audiences">AUDIENCES<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/groups">GROUPS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lessons">LESSONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lessonstimes">LESSONS TIMES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">STUDENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subjects">SUBJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">TEACHERS</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <h3> ADD STUDENT</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                <form action="#" th:action="@{/students/save}" th:object="${student}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">NAME</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="surname" class="col-form-label">SURNAME</label>
                            <input type="text" th:field="*{surname}" class="form-control" id="surname">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="dateOfBirth" class="col-form-label">DATE OF BIRTH</label>
                            <input type="date" th:field="*{dateOfBirth}" class="form-control" id="dateOfBirth">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gender" class="col-form-label">GENDER</label>
                            <input type="text" th:field="*{gender}" class="form-control" id="gender">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">EMAIL</label>
                            <input type="text" th:field="*{email}" class="form-control" id="email">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="phoneNumber" class="col-form-label">PHONE NUMBER</label>
                            <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="groupId" class="col-form-label">GROUP ID</label>
                            <input type="number" th:field="*{groupId}" class="form-control" id="groupId">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="specialty" class="col-form-label">SPECIALTY</label>
                            <input type="text" th:field="*{specialty}" class="form-control" id="specialty">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('specialty')}" th:errors="*{specialty}"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="course" class="col-form-label">COURSE</label>
                            <input type="number" th:field="*{course}" class="form-control" id="course">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('course')}" th:errors="*{course}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="admission" class="col-form-label">ADMISSION</label>
                            <input type="date" th:field="*{admission}" class="form-control" id="admission">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('admission')}" th:errors="*{admission}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="graduation" class="col-form-label">GRADUATION</label>
                            <input type="date" th:field="*{graduation}" class="form-control" id="graduation">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('graduation')}" th:errors="*{graduation}"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="ADD STUDENT">
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>