<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add lesson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/audiences">AUDIENCES<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/groups">GROUPS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lessons">LESSONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lessonstimes">LESSONS TIMES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">STUDENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subjects">SUBJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">TEACHERS</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <h3> ADD LESSON</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                <form action="#" th:action="@{/lessons/save}" th:object="${lesson}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="col-form-label">SUBJECT:</label>
                        <div th:each="currSubject : ${allSubjects}">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" th:field="*{subject}" th:value="${currSubject}" class="custom-control-input">
                                <label class="custom-control-label" th:for="${#ids.prev('subject')}" th:text="${currSubject.name}"></label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">TEACHER:</label>
                        <div th:each="currTeacher : ${allTeachers}">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" th:field="*{teacher}" th:value="${currTeacher}" class="custom-control-input">
                                <label class="custom-control-label" th:for="${#ids.prev('teacher')}" th:text="${currTeacher.surname}"></label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">AUDIENCE:</label>
                        <div th:each="currAudience : ${allAudiences}">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" th:field="*{audience}" th:value="${currAudience}" class="custom-control-input">
                                <label class="custom-control-label" th:for="${#ids.prev('audience')}" th:text="${currAudience.roomNumber}"></label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">BEGIN TIME:</label>
                        <div th:each="currLessonTime : ${allLessonsTimes}">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" th:field="*{lessonTime}" th:value="${currLessonTime}" class="custom-control-input">
                                <label class="custom-control-label" th:for="${#ids.prev('lessonTime')}" th:text="${currLessonTime.begin}"></label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="date" class="col-form-label">DATE</label> <input type="date" th:field="*{date}" class="form-control" id="date">
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">GROUPS:</label>
                            <div th:each="group : ${allGroups}">
                                <label>
                                    <input type="checkbox" name="groupsOfLesson" th:value="${group.id}"/>
                                </label>
                                <label class="checkbox-inline" th:text="${group.name}"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="ADD LESSON">
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>